EncryptionProject-chapter-7/src/main/resources/XSDSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProcessSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Algorithm" type="xs:string" />
        <xs:element name="KeyPath" type="xs:string" />
        <xs:element name="OriginalPath" type="xs:string" />
        <xs:element name="EncryptionPath" type="xs:string" />
        <xs:element name="DecryptionPath" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>